/* div.background-image {
    display: block;
    z-index: 1;
    vertical-align: middle;
    background: url(board_pic.jpg) no-repeat center center fixed; 
    width: 1500px;
    height: 1000px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */ /*

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}*/

div.transbox {
    margin: 5% 10% 2% 10%;
}

body {
    font-size: 25px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

h2 {
    font-size: 40px;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    color: rgb(100, 6, 6);
}

div.text {
    color: rgb(100, 6, 6);
}

textarea {
    font-size: 15px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.inputbox {
    background: rgb(211, 211, 211);
    color: rgb(255, 250, 250);
}

footer {
    border-top:rgb(220, 220, 220) 3px solid;
    color: rgb(100, 6, 6);
}
